body { margin:0; font-family:Poppins, sans-serif; background:#f1f5ff; }

header {
    text-align:center; padding:25px;
    background:#2979ff; color:white;
    font-size:20px; font-weight:bold;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

nav {
    background:#d7e9ff; padding:15px;
    display:flex; justify-content:center; gap:15px;
}
nav button{
    padding:10px 20px; background:#2979ff;
    color:white; border:none; border-radius:6px;
    font-size:15px; cursor:pointer; transition:.3s;
}
nav button:hover{ transform:scale(1.05); background:#005ace; }

.page{ padding:30px; text-align:center; }

.book-grid{
    display:grid; grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
    gap:20px; margin-top:25px;
}
.book{
    background:white; border-radius:10px; padding:12px; cursor:pointer;
    box-shadow:0 4px 12px rgba(0,0,0,0.1); transition:.3s;
}
.book:hover{ transform:scale(1.05); }
.book img{
    width:100%; height:220px; border-radius:8px; object-fit:cover;
}

.book-link {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    transition: 0.3s;
}
.book-link:hover { background: #217dbb; }

.upload-box{
    background:white; padding:20px; width:300px; margin:auto;
    border-radius:8px; box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.upload-box input{ width:100%; margin-bottom:10px; }
.upload-box button{
    width:100%; padding:10px; background:#28b463;
    color:white; border:none; cursor:pointer; border-radius:6px;
}
.upload-box button:hover{ background:#1e7d46; }

ul li{
    background:white; margin:10px auto; padding:10px;
    width:300px; border-left:5px solid #2979ff; border-radius:5px;
}

/* ======== PDF POPUP ========== */
.popup{
    display:none; position:fixed; top:0; left:0;
    width:100%; height:100%; background:#000000c0;
    justify-content:center; align-items:center;
    flex-direction:column; z-index:999;
}
.popup-header{
    width:80%; display:flex; justify-content:space-between;
    background:#fff; padding:10px; border-radius:6px 6px 0 0;
}
.popup-header button{
    background:#e74c3c; color:white; border:none;
    padding:8px 14px; border-radius:5px; cursor:pointer;
}
.popup-header a{
    background:#3498db; color:white; text-decoration:none;
    padding:8px 14px; border-radius:5px;
}

iframe{
    width:80%; height:80%; border:none; background:white;
    border-radius:0 0 6px 6px;
}
